body {
	margin: 0px;
	padding: 0px;
	background-color: #222;
	color: #fff;
}

#page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#header {
	background-color: #63f;
	padding: 10px;
	font-family: Monospace;
	font-size: 32px;
}
#header a { text-decoration: none; color: #fff; }

#content {
	flex-grow: 1;

	display: flex;
	flex-direction: row;
}

#taglist {
	padding: 10px;
	background-color: #333;
	min-width: 200px;
	
	display: flex;
	flex-direction: column;
}

#main { flex-grow: 1; }

#searchbar {
	padding: 10px 10px 5px 10px;
	display: flex;
}

#search_input {
	flex-grow: 1;
	border: solid 1px;
	background-color: #fff;
	color: #000;
	padding: 5px;
}

#search_button {
	margin-left: 10px;
	border: solid 1px;
	background-color: #fff;
	color: #000;
	padding: 5px;
}

#main-view {
	padding: 0px 5px 0px 5px;
	display: flex;
	flex-wrap: wrap;
}

.image-small-container {
	margin: 5px;
	width: 200px;
	height: 200px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.image-big-container { margin: 5px; }

.image-small {
	max-width: 200px;
	max-height: 200px;
}

.image-large { width: 100%; }

.tagitem   {     font-family: Monospace; }
.tagitem a { text-decoration: none;      }

.count { color: #ccc; }

a:link, a:visited {  color: #f60;    }
a:hover           { cursor: pointer; }
a:active          {  color: #60f;    }

.info-notfound {
	margin: 5px;
	font-size: 24px;
	font-family: Monospace;
}

#pages-nav {
	display: flex;
	justify-content: center;
}
#pages-nav button {
	width: 30px;
	height: 30px;
	margin: 5px;
	border: 1px solid #f60;
	background-color: rgba(0,0,0,0.0);
	color: #f60;
	cursor: pointer;
}
